<div class="wrapper">
<ul class="sidenav">
<li>/<a href="{{ / }}/about">abovt</a></li>
<li>/<a href="{{ /}}/blog/categories/math">math</a></li>
<li>/<a href="{{ /}}/blog/categories/sci">sci</a></li>
<li>/<a href="{{ /}}/blog/categories/org">org</a></li>
<!--
{% for category in site.pages %}
   {% if category.title == "math" %}
         <li> /<a class="page-link" href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
   {% elsif category.title =="sci" %}
         <li> /<a class="page-link" href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
   {% elsif category.title =="org" %}
         <li> /<a class="page-link" href="{{ category.url | prepend: site.baseurl }}">{{ category.title }}</a></li>
   {% endif %}
{% endfor %}
-->
<li>/<a href="{{ / }}/links">links</a></li>
<li>/<a href="{{ / }}/pub">pub</a></li>
</ul>
<p>The blog has moved to GitHub:<a href="https://sdll.github.io/">https://sdll.github.io/</a><br />The content has been saved as it was on August 16, 2016.</p>
</div>

