---
layout: demo
permalink: /ofg.html
---

<style>

text {
    pointer-events: none;
    font: 16px helvetica;
}




path.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 7.5px;
  opacity: 0.50;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  stroke: #fff;
  stroke-width: 0.5px;
}


text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.textOutput{
  color : #259359;
  font-size : 17px;
}

</style>
<body>
<script src= "{{site.baseurl}}/scripts/d3.v3.min.js" > </script> 
<script>

var graph = {
      "nodes":[
        {"name":"alkene","group":1},
        {"name":"alkane","group":12},
        {"name":"haloalkane","group":2},
        {"name":"dihaloalkane","group":2},
        {"name":"amine","group":3},
        {"name":"alcohol","group":4},
        {"name":"ketone","group":5},
        {"name":"aldehyde","group":6},
        {"name":"hydroxynitrile","group":7},
        {"name":"ester","group":8},
        {"name":"carboxylic acid","group":9},
        {"name":"acyl chloride","group":9},
        {"name":"amide","group":10},
        {"name":"nitrile","group":11},
        {"name":"polyalkene","group":1},
        {"name":"aromatic amine","group":3},
        {"name":"phenyl","group":13},
        {"name":"diazonium salt","group":14}

      ],
      "links":[
        {"source":0,"target":2,"value":"alkene to haloalkane", "mechanism":"electrophilic addition", "cond":"HX (g), room T"},
        {"source":0,"target":1,"value":"alkene to alkane", "mechanism":"reduction", "cond":"H\u2082, finely divided Ni, 150\u00B0C"},
        {"source":1,"target":2,"value":"alkane to haloalkane", "mechanism":"free radical substitution", "cond":"UV, X\u2082 "},
        {"source":2,"target":0,"value":"haloalkane to alkene", "mechanism":"elimination", "cond":"heat, KOH in ethanol"},
        {"source":0,"target":3,"value":"alkene to dihaloalkane", "mechanism":"electrophilic addition", "cond":"X\u2082(aq), room T"},
        {"source":2,"target":4,"value":"haloalkane to amine", "mechanism":"nucleophilic substitution", "cond":"sealed NH\u2083 in ethanol, heat"},
        {"source":2,"target":5,"value":"haloalkane to alcohol", "mechanism":"nucleophilic substitution", "cond":" NaOH(aq) or KOH(aq), reflux"},
        {"source":5,"target":2,"value":"alcohol to haloalkane", "mechanism":"nucleophilic substitution", "cond":"PX\u2083, heat, reflux"},
        {"source":6,"target":5,"value":"ketone to alcohol", "mechanism":"reduction", "cond":"LiAlH\u2084 or NaBH\u2084 in ether, dilute acid, heat"},
        {"source":5,"target":6,"value":"secondary alcohol to ketone", "mechanism":"oxidation", "cond": "K\u2082Cr\u2082O\u2087 and H\u2082SO\u2084, high T"},
        {"source":7,"target":5,"value":"aldehyde to primary alcohol", "mechanism":"reduction", "cond":"LiAlH\u2084 or NaBH\u2084, heat with dilute acid"},
        {"source":5,"target":7,"value":"primary alcohol to aldehyde", "mechanism":"oxidation", "cond":"K\u2082Cr\u2082O\u2087 and H\u2082SO\u2084, reflux"},
        {"source":7,"target":8,"value":"aldehyde to hydroxinitrile", "mechanism":"nucleophilic addition", "cond":"NaCN or KCN in water with dilute H\u2082SO\u2084"},
        {"source":6,"target":8,"value":"ketone to hydroxinitrile", "mechanism":"nucleophilic addition", "cond":"NaCN or KCN in water with dilute H\u2082SO\u2084"},
        {"source":7,"target":10,"value":"aldehyde to carboxylic acid", "mechanism":"oxidation", "cond":"K\u2082Cr\u2082O\u2087 and H\u2082SO\u2084, reflux"},
        {"source":10,"target":5,"value":"carboxylic acid to aldehyde", "mechanism":"reduction", "cond":"LiAlH\u2084 in dry ether at room T"},
        {"source":5,"target":9,"value":"alcohol to ester", "mechanism":"esterification", "cond":"carboxylic acid, acid catalyst, heat"},
        {"source":9,"target":5,"value":"ester to alcohol", "mechanism":"hydrolysis", "cond":"reflux with [alkali, + a strong acid] | [a dilute acid]"},
        {"source":10,"target":9,"value":"carboxylic acid to ester", "mechanism":"esterification", "cond":"alcohol, acid catalyst, heat"},
        {"source":9,"target":10,"value":"ester to carboxylic acid", "mechanism":"hydrolysis", "cond":"reflux with [alkali, + a strong acid] | [a dilute acid]"},
        {"source":13,"target":10,"value":"nitrile to carboxylic acid", "mechanism":"hydrolysis", "cond":"reflux with [alkali, + a strong acid] | [a dilute acid]"},
        {"source":8,"target":10,"value":"hydroxynitrile to carboxylic acid", "mechanism":"hydrolysis", "cond":"reflux with [alkali, + a strong acid] | [a dilute acid]"},
        {"source":10,"target":11,"value":"carboxylic acid to acyl chloride", "mechanism":"nucleophilic substitution", "cond":"PCl\u2085, PCl\u2083 or SOCl\u2082, fractional distillation"},
        {"source":11,"target":10,"value":"acyl chloride to carboxylic acid", "mechanism":"nucleophilic addition/elimination", "cond":"cold water"},
        {"source":11,"target":12,"value":"acyl chloride to amide", "mechanism":"nucleophilic addition/elimination", "cond":"ammonia or amides at room temperature"},
        {"source":0,"target":14,"value":"alkene to polyalkene", "mechanism":"addition polymerisation", "cond":"low T, high p"},
        {"source":16,"target":15,"value":"arene to aromatic amine", "mechanism":"nitration + reduction", "cond":"conc. H\u2082SO\u2084 + HNO\u2083, 50 \u00B0C & Sn, conc. HCl, heat"},
        {"source":1,"target":16,"value":"straight chain alkane to phenyl", "mechanism":"catalytic reforming","cond":"naphta or gasoline, Pt + Al\u2082O\u2083, 500 \u00B0C, 20 atm"},
        {"source":15,"target":17,"value":"aromatic amine to diazonium salt","mechanism":"diazotisation","cond":"sodium nitrate + conc. HCl, 5 \u00B0C"}
      ]
    }

var nodes = graph.nodes;

var links = graph.links;
var color = d3.scale.category20();             
var colors = d3.scale.category20();            
//sort links by source, then target
links.sort(function(a,b) {
    if (a.source > b.source) {return 1;}
    else if (a.source < b.source) {return -1;}
    else {
        if (a.target > b.target) {return 1;}
        if (a.target < b.target) {return -1;}
        else {return 0;}
    }
});
//any links with duplicate source and target get an incremented 'linknum'
for (var i=0; i<links.length; i++) {
    if (i != 0 &&
        links[i].source == links[i-1].source &&
        links[i].target == links[i-1].target) {
            links[i].linknum = links[i-1].linknum + 1;
        }
    else {links[i].linknum = 1;};
};

//var nodes = {};

// Compute the distinct nodes from the links.
links.forEach(function(link) {
  link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
  link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
});



var w = 650,
    h = 750;

var force = d3.layout.force()
    .nodes(d3.values(nodes))
    .links(links)
    .size([w, h])
    .linkStrength(0.8)
    .gravity(1.0)
    .charge(-4500)
    .size([w,h])
    .linkDistance(50)
    .on("tick", tick)
    .start();

var svg = d3.select("body").append("svg:svg")
    .classed("svg-container", true)
    .attr("width", w)
    .attr("height", h);

var value = svg.append('text').attr('class', 'textOutput')
.attr("transform","translate(50, 50)")
.style("fill","#259359");
var mech = svg.append('text').attr('class', 'textOutput')
.attr("transform","translate(50, 120)");
var cond = svg.append('text').attr('class', 'textOutput')
.attr("transform","translate(50, 85)");

// Per-type markers, as they don't inherit styles.
svg.append("svg:defs").selectAll("marker")
    .data(["suit", "licensing", "resolved"])
  .enter().append("svg:marker")
    .attr("id", String)
    .attr("viewBox", "0 -5 10 10")
    .attr("refX", 14)
    .attr("refY", -0.5)
    .attr("markerWidth", 2.0)
    .attr("markerHeight", 4.0)
    .attr("orient", "auto")
    .append("svg:path")
    .attr("d", "M0,-5L10,0L0,5")
    .style("stroke", "#bbb");

var path = svg.append("svg:g").selectAll("path")
    .data(force.links())
  .enter().append("svg:path")
    .attr("class", function(d) { return "link " + d.type; })
    .attr("marker-end", function(d) { return "url(#suit)"; })
    .style("stroke", function(d) {
                return colors(d.mechanism);
            })
     
    .on('mouseover', function(d){
    console.log(d);
//    d3.select(this).style('stroke', '#259359')
    d3.select(this).style('opacity', '1')
    value.text(d.value );
    cond.text("reagents & conditions: " + d.cond);
    mech.text("mechanism: "+ d.mechanism);
    })
     .on('mouseout', function(d){ 
    d3.select(this).style("stroke", function(d) {
                return colors(d.mechanism);
            })    
    d3.select(this).style("opacity", "0.50")
    });


var circle = svg.append("svg:g").selectAll("circle")
    .data(force.nodes())
  .enter().append("svg:circle")
    .attr("r", 10)
    .style("fill", function(d) {
                return color(d.group);
            })
    .call(force.drag);

var padding = 80, // separation between circles
radius = 1;

function collide(alpha) {
var quadtree = d3.geom.quadtree(graph.nodes);
return function(d) {
    var rb = 2 * radius + padding,
        nx1 = d.x - rb,
        nx2 = d.x + rb,
        ny1 = d.y - rb,
        ny2 = d.y + rb;
    quadtree.visit(function(quad, x1, y1, x2, y2) {
        if (quad.point && (quad.point !== d)) {
            var x = d.x - quad.point.x,
                y = d.y - quad.point.y,
                l = Math.sqrt(x * x + y * y);
            if (l < rb) {
                l = (l - rb) / l * alpha;
                d.x -= x *= l;
                d.y -= y *= l;
                quad.point.x += x;
                quad.point.y += y;
            }
        }
        return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
    });
};
}


var text = svg.append("svg:g").selectAll("g")
    .data(force.nodes())
  .enter().append("svg:g");

// A copy of the text with a thick white stroke for legibility.
text.append("svg:text")
    .attr("x", "-1.5em")
    .attr("y", "2.0em")
    .attr("class", "shadow")
    .text(function(d) { console.log(d); return d.name; });

text.append("svg:text")
    .attr("x", "-1.5em")
    .attr("y", "2.0em")
    .text(function(d) { return d.name; });

// Use elliptical arc path segments to doubly-encode directionality.
function tick() {
  path.attr("d", function(d) {
    var dx = d.target.x - d.source.x,
        dy = d.target.y - d.source.y,
        dr = 100/d.linknum;  //linknum is defined above
    return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
  });

  circle.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });

  text.attr("transform", function(d) {
    return "translate(" + d.x + "," + d.y + ")";
  });

circle.each(collide(0.5));
}

</script>
